DBURL=jdbc:oracle:thin:@//localhost:1521/FREEPDB1
DBUSER=REPLACE_WITH_SERVICE_SCHEMA
DBPASSWORD=REPLACE_WITH_SECRET
EUREKA_SERVER_URL=http://localhost:8761/eureka/
JWT_ISSUER=http://localhost:8087
BANKING_INTERNAL_KEY=change-this-banking-internal-key
PRODUCTS_SERVICE_URL=http://localhost:8090
ACCOUNTS_SERVICE_URL=http://localhost:8084
TRANSACTIONS_SERVICE_URL=http://localhost:8085
CUSTOMERS_SERVICE_URL=http://localhost:8082
INTEREST_SCHEDULER_ENABLED=true
INTEREST_SCHEDULER_CRON="0 15 1 1 * *"
FD_MATURITY_SCHEDULER_ENABLED=true
FD_MATURITY_SCHEDULER_CRON="0 30 1 * * *"
FD_PREMATURE_PENALTY_RATE=1.00
ANNUAL_FEE_SCHEDULER_ENABLED=true
ANNUAL_FEE_SCHEDULER_CRON="0 0 2 * * *"
JWT_AUDIENCE=banking-api
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_KEY_ID=banking-dev-key
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=REPLACE_WITH_STRONG_PASSWORD
BOOTSTRAP_ADMIN_EMAIL=admin@moneybags.local
AUDIT_INTERNAL_KEY=REPLACE_WITH_SHARED_INTERNAL_KEY
SERVICES_AUDIT_BASE_URL=http://localhost:8086
