SERVER_PORT=8081

CONFIG_SERVER_ENABLED=false
CONFIG_SERVER_URL=http://localhost:8888

DB_URL=jdbc:oracle:thin:@localhost:1521/FREEPDB1
DB_USERNAME=moneybags_users
DB_PASSWORD=replace-with-a-local-secret
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false

DISCOVERY_ENABLED=false
EUREKA_URL=http://localhost:8761/eureka

APP_LOG_LEVEL=INFO
